@import "../fonts/_imports";

@import "variables/_imports";

@import "~bootstrap/scss/bootstrap";

@import "~choices.js/src/styles/choices";

@import "components/_imports";
@import "partials/_imports";

body {
  //font-family : "roboto", sans-serif;
  padding: 0;
  //margin: 40px;
  background: var(--white-color);
  color:var(--font-color);
  /* Fix Footer to bottom of the page */
  min-height: 100vh;
  /**** ****/

  display: flex;
  flex-direction: column;
}


element.style {
}
h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
    color:var(--font-color);
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color:var(--font-color);
}
*, ::before, ::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:var(--font-color);
}
.text-center {
    text-align: center !important;
}

.card-body {
  background-color:var(--bg-menu_profile);
}
.form-control {
  background-color:var(--bg-menu_profile);
  color:var(--font-color);
}
.form-select:disabled, .form-control:disabled {
  background-color:var(--bg-disabled);
}
.table {
  background-color:var(--bg-menu_profile);
  color:var(--font-color);
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  color:var(--font-color);
}
// .table-responsive {
//  background-color: var(--bg-menu_profile)!important;
// }
.sticky {
  min-height: calc(100vh - 70px);
}
/* ScrollBar part */
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background-color: $secondary !important;
}
::-webkit-scrollbar-thumb {
  background: $primary;
}