{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Ajout Activité
{% endblock %}

{% block body %}
	<h1>Ajout d'une Activité</h1>

	{{ include('pages/data/activity_time/_form.html.twig') }}
{% endblock %}
