{% extends 'layouts/navbar_layout.html.twig' %}

{% block title %}Mentions légales
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{% for file in encore_entry_css_files('home', 'main') %}
		<link rel="stylesheet" href="{{ preload(file, { as: 'style', importance: 'high' }) }}">
	{% endfor %}
{% endblock %}
{% block body %}
	<div class="container pt-4">
		<p>

			<h2>
				Mentions légales</h2>
		</p>
		<p>
			Le présent site web Myftlog est édité par Myftlog, une société 09989879 au capital de 0.0000000000001 euros, immatriculée au Registre du Commerce et des Sociétés de Lyon sous le numéro 8978979, dont le siège social est situé à 12rue Basile par dieu lyon 69003.
									
									            Directeur de la publication : Hallouli
									            Adresse e-mail de contact : contact@Myftlog.com

			<h2>
				Le présent site web est hébergé par Hébero.</h2>
		</p>
		<p>Nous nous engageons à respecter la confidentialité des données personnelles collectées sur le présent site web conformément à notre politique de confidentialité disponible sur le Site.
		</p>
		<p>
			Le présent site web est soumis à la loi française. Tout litige découlant de l'utilisation du présent site web sera soumis à la compétence exclusive des tribunaux français.
									
									            Dernière mise à jour : 03/03/2023
									
									            Si vous avez des questions ou des préoccupations concernant les mentions légales du présent site web, veuillez nous contacter à l'adresse e-mail suivante : contact@myfitlog.com.
		</p>
	</div>
{% endblock %}
