{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Modifier
{% endblock %}

{% block body %}
	<h1>Modifier une Activité</h1>
	{% include 'components/form/activity_form.html.twig' with {btn_label : 'Modifier'} %}
{% endblock %}
