<div class="header" id="header">
	<div class="header_toggle">
		<i class="fa-solid fa-bars" id="header-toggle"></i>
	</div>


</div>
<div class="l-navbar col-1" id="nav-bar">
	<nav class="nav">
		<div>
			<a href="#" class="nav_logo">
				<i class="fa-solid fa-layer-group nav_logo-icon"></i>
				<span class="nav_logo-name">MyFitLog</span>
			</a>
			<div class="nav_list">
				<a href="{{ path('foods') }}" class="nav_link active">
					<i class="fa-solid fa-grip nav_icon"></i>
					<span class="nav_name">Rapport journalier</span>
				</a>

				<a href="{{ path('activities') }}" class="nav_link">
					<i class="fa-solid fa-person-walking nav_icon"></i>
					<span class="nav_name">Mes activités</span>
				</a>
				<a href="{{ path('foods') }}" class="nav_link">
					<i class="fa-solid fa-utensils nav_icon"></i>
					<span class="nav_name">Nutrition</span>
				</a>
				<a href="{{ path('daily_reports') }}" class="nav_link">
					<i class="fa-solid fa-chart-simple nav_icon"></i>
					<span class="nav_name">Mes rapports</span>
				</a>
			</div>
		</div>
		<a href="#" class="nav_link">
			<i class="fa-solid fa-right-from-bracket nav_icon"></i>
			<span class="nav_name">Déconnexion</span>
		</a>
	</nav>
</div>
