{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('foods') }}">Ma nourritures</a>
    <a class="btn btn-primary" href="{{ path('activities') }}">Mes activités</a>
{% endblock %}