{% extends 'layouts/navbar_layout.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}
	<div class="container">
		{% include "components/_chart.html.twig" with {data: '{ "labels": ["January", "February", "March", "April", "May", "June", "July"], "datasets": [{ "label": "My First dataset", "backgroundColor": "transparent", "borderColor": "#3B82F6", "data": [37, 83, 78, 54, 12, 5, 99] }] }'} %}
	</div>
{% endblock %}
