{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Modification Poids
{% endblock %}

{% block body %}
	<h1>Modifier mon poids</h1>

	{{ include('pages/data/weight/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
