{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Modification Poids
{% endblock %}

{% block body %}
	<h1>Modifier mon poids</h1>

	{{ include('pages/data/weight/_form.html.twig', {'button_label': 'Update'}) }}

	<a class="btn btn-primary" href="{{ path('daily_report_show', {'id': dailyReport.id }) }}">Retour</a>
{% endblock %}
