{% extends 'base.html.twig' %}

{% block title %}New Weight{% endblock %}

{% block body %}
    <h1>Create new Weight</h1>

    {{ include('main/data/weight/_form.html.twig') }}

    <a href="{{ path('app_main_data_weight_index') }}">back to list</a>
{% endblock %}
