{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Ajout Poids
{% endblock %}

{% block body %}
	<h1>Ajouter mon poids</h1>

	{{ include('pages/data/weight/_form.html.twig') }}
{% endblock %}
