{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier une nourriture</h1>
        {% include 'components/form/food_form.html.twig' with {btn_label : 'Modifier'} %}
    </div>
{% endblock %}
