footer {
    padding:45px 15px;
    margin-top:15px;
    display: flex;
    background-color: var(--bg-blue);
    justify-content: space-around;
    align-items: center;
    box-shadow: rgb(50 98 255) 0px 0px 1px;
    height: 150px;
}

ul#logo {
    display: flex;
    justify-content: center;
    margin-top : 20px;
    
}

ul#logo li {
    list-style: none;
    margin: 5px 10px;
}
ul#logo li img {

    width: 2rem;   
}
ul#lien li {
    list-style: none;
    margin: 5px 10px;
    
}
ul#lien li a {
    color:var(--font-color);
}
ul#lien li a:hover {
    color: var(--hover-a);
}

@media only screen and (max-device-width : 768px) {
    footer {
        flex-direction: column;
        height: 280px;
    }
}
