{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Créer un objectif{% endblock %}

{% block body %}
    <h1>Créer votre objectif</h1>

    {{ include('pages/objective/_form.html.twig') }}

   
{% endblock %}
