{% extends 'base.html.twig' %}

{% block title %}Edit Nutrition{% endblock %}

{% block body %}
    <h1>Edit Nutrition</h1>

    {{ include('pages/data/nutrition/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('daily_report_show', {'id': dailyReport.id }) }}">Retour</a>

{% endblock %}
