{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Modification Aliment - Repas
{% endblock %}

{% block body %}
	<h1>Modification Aliment - Repas</h1>

	{{ include('pages/data/nutrition/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
