{% extends 'base.html.twig' %}

{% block title %}New Nutrition{% endblock %}

{% block body %}
    <h1>Create new Nutrition</h1>

    {{ include('pages/data/nutrition/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('daily_report_show', {'id': dailyReport.id }) }}">Retour</a>
{% endblock %}
