<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-bs-theme="">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="/app_icon/icon_32px.png">
		{{ encore_entry_link_tags('main', null, 'main') }}
		{% block stylesheets %}{% endblock %}
		{{ encore_entry_script_tags('main', null, 'main')  }}
		{% block javascripts %}{% endblock %}
		<meta name="turbo-cache-control" content="no-cache">
		<link rel="manifest" href="/manifest.webmanifest">
	</head>
	<body>
		<main>
			<div class="sticky" data-controller="components--darkmod">
				{% block main_body %}{% endblock %}
			</div>
			</main>
			{% include "partials/_footer.html.twig" %}
			{% block modals %}{% endblock %}
		</body>
	</html>
