{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Nouveau rapport{% endblock %}

{% block body %}
    <h1>Ajouter un rapport</h1>

    {{ include('pages/dailyReport/_form.html.twig') }}

    
{% endblock %}
