//@font-face {
//  font-family:"roboto";
//  src: url("../fonts/roboto.ttf") format("roboto");
//}
@font-face {
    font-family:"urbanist";
    src: url("./Urbanist-Regular.ttf");
}
@font-face {
    font-family:"urbanist-bold";
    src: url("./Urbanist-Bold.ttf");
}