@font-face {
 font-family:"worksans-bold";
 src: url("./WorkSans-Bold.ttf");
}
@font-face {
    font-family:"worksans";
    src: url("./WorkSans-Regular.ttf");
   }
@font-face {
    font-family:"urbanist";
    src: url("./Urbanist-Regular.ttf");
}
@font-face {
    font-family:"urbanist-bold";
    src: url("./Urbanist-Bold.ttf");
}