<div>
<div class="d-flex justify-content-between">
    <h5>Indicateur libelle</h5>
    <p>49/52</p>
</div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{value}}%" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>