{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Modifier ma durée de sommeil
{% endblock %}

{% block body %}
	<h1>Modifier ma durée de sommeil</h1>

	{{ include('pages/data/sleep_time/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
