{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Ajout durée sommeil
{% endblock %}

{% block body %}
	<h1>Ajout durée Sommeil</h1>

	{{ include('pages/data/sleep_time/_form.html.twig') }}
{% endblock %}
